:root{
    --button-size: 70px;
    --button-gap: 8px;
    --button-font-size: 30px;

    --button-utility-color: rgb(149, 146, 146);
    --button-hover-utility-color: rgb(206, 202, 202);
    --button-text-utility-color:black;

    --button-number-color: rgb(49, 47, 47);
    --button-hover-number-color: rgb(121, 118, 118);
    --button-text-number-color: white;

    --button-operator-color: rgb(203, 132, 0);
    --button-hover-operator-color: rgb(202, 172, 114);
    --button-text-operator-color:white;

    --display-font-size: 65px;
    --display-text-color: white;

    --background-light: white;
    --background-dark: rgb(27, 26, 26);
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

*:focus{
    outline: none;
}

body {
    background-color: rgb(69, 69, 69);
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: background-color 0.55s ease-out;
}

#title{
    color: white;
    z-index: 10000;
    position: absolute;
    top: 30px;
    font-size: 45px;
    visibility: hidden;
    transition: color 0.5s;
}

#footer{
    visibility: hidden;
    color: white;
    z-index: 10000;
    position: absolute;
    bottom: 100px;
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    transition: scale 0.3s, color 0.4s, font-weight 0.5s;
}

#footer:hover{
    color: var(--button-operator-color);
    font-weight: 400;
}

.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: black;
    padding: 12px;
    padding-top: 65px;
    border-radius: 10px;
    width: calc(30px + ((var(--button-size) + var(--button-gap)) * 4));
    height: 600px;
    position: relative;
    transition: scale 0.35s cubic-bezier(0.62, 0.15, 0.36, 0.9);
    scale: 0.75;
}

.calculator:hover{
    scale: 0.8;
    border: 4px solid rgba(242, 148, 17, 0.531);
}

.square {
    background-color: var(--background-dark);
    position: relative;
    transition: background 1s;
    border-radius: 4px;
}


.background{
    display: flex;
    width: 130%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
}

/*----Display----*/
.display-wrapper {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 15px;
    overflow: auto;
}

#display-number {
    padding-right: calc((var(--button-size) / 2) - ((var(--button-font-size) / 2)));
    padding-left: 10px;
    color: var(--display-text-color);
    font-size: var(--display-font-size);
    margin: 0;
    font-weight: 200;
    max-width: 100%;
    height: calc((var(--display-font-size)) + 10px);
}


/*----Buttons----*/

.buttons-wrapper{
    display: flex;
}

.utility-wrapper, .number-wrapper, .operator-wrapper{
    gap: var(--button-gap);
}

.utility-wrapper {
    display: flex;
    margin-bottom: var(--button-gap);
}

.number-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc((var(--button-size) * 3) + (var(--button-gap) * 3));
}

.operator-wrapper {
    display: flex;
    flex-direction: column;
}

button {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    border: 0;
    font-size: var(--button-font-size);
    transition: background-color 0.25s;
}

.big-btn {
    width: calc((var(--button-size) * 2) + var(--button-gap));
    border-radius: 40px;
    text-align: start;
    padding-left: calc((var(--button-font-size) / 2) + var(--button-gap));
}

.utility {
    background-color: var(--button-utility-color);
}

.number {
    background-color: var(--button-number-color);
    color: var(--button-text-number-color);
    font-weight: 300;
}

.operator {
    background-color: var(--button-operator-color);
    color: var(--button-text-operator-color);
}

button:active {
    opacity: 70%;
}

@media screen and (min-height: 700px){
    #title {
        visibility: visible;
    }
    #footer{
        visibility: visible;
    }
}